<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Entry form</h4>
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputEmail1">Project Name</label>
                <input type="Project" class="form-control" id="exampleInputProjectName" placeholder="Enter Project Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEndpoint">Endpoints</label>
                <input type="endpoint" class="form-control" id="exampleInputEndpoint" placeholder="Endpoint">
                 <i class="mdi mdi-plus"></i>
              </div>
              <button type="submit" class="btn btn-success mr-2">POST</button>
              <button  type="submit" class="btn btn-danger mr-2" routerLink="/dashboard" routerLinkActive="active">Cancel</button>
            </form>
          </div>
        </div>
      </div>

      
