<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
          <hr>
          <h3 class="card-title">Entry form</h3>
          <hr>
            <form class="forms-sample" (ngSubmit)="logValue(f)" #f="ngForm">
              <div class="form-group" >
                <h5 for="exampleInputEmail1">Project Name</h5>
                <input type="Project" class="form-control" id="exampleInputProjectName" placeholder="Enter Project Name"
                name="projectName"
                ngModel>
              </div>
              <div class="form-group">
               <button type="button" class="btn btn-primary mb-2" (click)="addEndpoint()">New Endpoints  + </button>
                <input *ngFor="let endpoint of endpoints
                 let i = index;"  [(ngModel)]="endpoint.endpoint" name="endpoint_{{i}}" style="margin-top: 10px;" type="endpoints" class="form-control" id="exampleInputEndpoint" placeholder="Enter Endpoint_url">
                <br>
              </div>
              <button  type="submit" class="btn btn-danger mr-2" routerLink="/dashboard" routerLinkActive="active">Cancel</button>
              <button type="submit" class="btn btn-success mr-2" value="Submit" [disabled]="!f.valid" >Submit</button>
            </form>
          </div>
        </div>
      </div>