<div class="row">
  <div class="col-xl-3 col-lg-2 col-md-0 col-sm-3 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-cube text-danger icon-lg"></i>
          </div>
          <div class="float-left">
            <div class="fluid-container">
              <h6 class="font-weight-medium text-left mb-0">Projects</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="col-xl-3 col-lg-2 col-md-0 col-sm-3 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-poll-box text-success icon-lg"></i>
          </div>
          <div class="float-left">
            <div class="fluid-container">
              <h6 class="font-weight-medium text-right mb-0">Status</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-0 col-md-0 col-sm-0 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-cube text-danger icon-lg"></i>
          </div>
          <div class="float-left">
            <div class="fluid-container">
              <h6 class="font-weight-medium text-right mb-0">Endpoints</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-2 col-md-0 col-sm-3 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-receipt text-warning icon-lg"></i>
          </div>
          <div class="float-left">
            <div class="fluid-container">
              <h6 class="font-weight-medium text-right mb-0">Request 
              Method</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
<div class="row">
  <div class="col-lg-4 grid-margin stretch-card">
    <!--weather card-->
   
<div class="row">
  <div class="col-lg-100 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Current Status</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Projects
                </th>
                <th>
                 Status
                </th>
                <th>
                  Endpoints
                </th>
                <th>
                  Request Methods
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Time Entry
                </td>
                <td>
                 <div class="radio-item">
                  <input type="radio" id="materialCheckedDisabled2" name="disabledGroupExample2">
                  <label for="materialCheckedDisabled2"></label>
                </div>
                </td>
                <td>
                  https://employeeservice002.herokuapp.com/v1/api/employee/{{id}}
                </td>
                <td class="text-success"> GET
                  <i class="mdi mdi-arrow-up"></i>
                </td>
            
              </tr>
              <tr>
                <td>
                  Pollster
                </td>
                <td>
                   <div class="radio-item">
                  <input type="radio" id="materialCheckedDisabled2" name="disabledGroupExample2">
                  <label for="materialCheckedDisabled2"></label>
                </div>
                </td>
                <td>
                  https://employeeservice002.herokuapp.com/v1/api/employees
                </td>
                <td class="text-success"> GET
                  <i class="mdi mdi-arrow-up"></i>
                </td>
               
              </tr>
              <tr>
                <td>
                  Holiday Me
                </td>
                <td>
                  <div class="radio-item">
                  <input type="radio" id="materialCheckedDisabled2" name="disabledGroupExample2">
                  <label for="materialCheckedDisabled2"></label>
                </div>
                </td>
                <td>
                  https://timeentry002.herokuapp.com/v1/api/projects
                </td>
                <td class="text-success"> GET
                  <i class="mdi mdi-arrow-up"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
